<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMegaTracWS" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.142.156/MegaTrac_Public/MegaTracWS.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMegaTracWS"
        contract="ServiceReference1.IMegaTracWS" name="BasicHttpBinding_IMegaTracWS" />
    </client>
  </system.serviceModel>
</configuration>